body {
    font-family: 'Tajawal', sans-serif;
}

.text-center {
    text-align: center;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #40e9ff;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: none;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #40e9ff
}

input.valid:not([type]),
input.valid:not([type]):focus,
input.valid[type=text]:not(.browser-default),
input.valid[type=text]:not(.browser-default):focus,
input.valid[type=password]:not(.browser-default),
input.valid[type=password]:not(.browser-default):focus,
input.valid[type=email]:not(.browser-default),
input.valid[type=email]:not(.browser-default):focus,
input.valid[type=url]:not(.browser-default),
input.valid[type=url]:not(.browser-default):focus,
input.valid[type=time]:not(.browser-default),
input.valid[type=time]:not(.browser-default):focus,
input.valid[type=date]:not(.browser-default),
input.valid[type=date]:not(.browser-default):focus,
input.valid[type=datetime]:not(.browser-default),
input.valid[type=datetime]:not(.browser-default):focus,
input.valid[type=datetime-local]:not(.browser-default),
input.valid[type=datetime-local]:not(.browser-default):focus,
input.valid[type=tel]:not(.browser-default),
input.valid[type=tel]:not(.browser-default):focus,
input.valid[type=number]:not(.browser-default),
input.valid[type=number]:not(.browser-default):focus,
input.valid[type=search]:not(.browser-default),
input.valid[type=search]:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus,
.select-wrapper.valid>input.select-dropdown,
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #40e9ff;
    -webkit-box-shadow: 0 1px 0 0 #40e9ff;
    box-shadow: 0 1px 0 0 #40e9ff;
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 16px;
    color: #40e9ff;
}

.input-field {
    outline: none
}

#mapModal #googleMap {
    width: 100%;
    height: -webkit-fill-available;
}

.modal .modal-content {
    padding: 0;
}

.m-auto {
    margin: auto !important;
}

.select-wrapper input.select-dropdown,
.input-field>label {
    color: #C7C7CC;
    font-family: 'Tajawal', sans-serif;
}

.logo {
    margin-top: 3em;
    margin-bottom: 3em;
}

.loc-img {
    position: absolute;
    top: 0;
    left: 0;
}

input {
    font-weight: 700;
}

.submit-btn {
    width: 40%;
    border-radius: 50px;
    background-color: #40e9ff;
    font-weight: 700;
    box-shadow: -1px 11px 8px 0px rgba(64, 233, 255, 0.12), 0 6px 30px 5px rgba(64, 233, 255, 0.1), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

.submit-btn:hover,
.submit-btn:hover,
.submit-btn:hover {
    background-color: #198199;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    border-bottom: 1px solid #ECECF3;
}

.select-wrapper .caret {
    fill: rgb(236, 236, 243);
}